[submodule "External/googletest"]
	path = External/googletest
	url = git@github.com:google/googletest.git
[submodule "External/buildtools/cmake/SDL2"]
	path = External/buildtools/cmake/SDL2
	url = git@github.com:AymenLA/SDL2_CMakeFiles.git
